[data-v-af04a012] .gi-page-layout__tool {
  gap: 8px;
}
.designer-header[data-v-af04a012] {
  flex-direction: column;
  gap: 4px;
  display: flex;
}
.designer-title[data-v-af04a012] {
  color: #1f2d3d;
  font-size: 18px;
  font-weight: 600;
}
.designer-subtitle[data-v-af04a012] {
  color: #606266;
  font-size: 13px;
}
.print-designer-page[data-v-af04a012] {
  height: calc(100vh - 170px);
  min-height: 520px;
}
.pd[data-v-af04a012] {
  width: 100%;
  height: 100%;
  display: block;
}
