.detail-header[data-v-404fa51e] {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.header-left[data-v-404fa51e] {
  align-items: center;
  display: flex;
}
.header-left h2[data-v-404fa51e] {
  margin: 0;
  font-size: 20px;
}
.log-user[data-v-404fa51e] {
  color: #909399;
  font-size: 12px;
}
