.result-panel[data-v-ead9c7f2] {
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  display: flex;
}
.result-label[data-v-ead9c7f2] {
  color: var(--el-text-color-secondary);
}
.source-cell[data-v-b1249fae] {
  flex-direction: column;
  gap: 4px;
  display: flex;
}
.source-main[data-v-b1249fae] {
  color: var(--el-text-color-primary);
}
.source-sub[data-v-b1249fae] {
  color: var(--el-text-color-secondary);
  font-size: 12px;
}
