.card-title[data-v-9b67f233] {
  color: #909399;
  font-size: 13px;
}
.card-value[data-v-9b67f233] {
  margin-top: 8px;
  font-size: 28px;
  font-weight: 700;
}
.card-unit[data-v-9b67f233] {
  color: #909399;
  margin-left: 4px;
  font-size: 14px;
}
