.lock-wrap[data-v-a0201d30] {
  background: var(--el-bg-color);
  place-items: center;
  min-height: 100vh;
  display: grid;
}
.card[data-v-a0201d30] {
  background: var(--el-color-white);
  width: 360px;
  box-shadow: var(--el-box-shadow-light);
  text-align: center;
  border-radius: 12px;
  padding: 24px;
}
.avatar[data-v-a0201d30] {
  margin: 8px auto 4px;
}
.name[data-v-a0201d30] {
  margin-bottom: 12px;
  font-weight: 600;
}
.pwd[data-v-a0201d30] {
  margin-bottom: 12px;
}
.action[data-v-a0201d30] {
  width: 100%;
}
.login[data-v-a0201d30] {
  margin-top: 8px;
}
