.material-tree-panel[data-v-01bd3874] {
  flex-direction: column;
  gap: 12px;
  display: flex;
}
.panel-title[data-v-01bd3874] {
  color: var(--el-text-color-primary);
  font-size: 14px;
  font-weight: 600;
}
