.search-bar[data-v-eaf361ea] {
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}
.task-list[data-v-eaf361ea] {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  display: grid;
}
.task-card[data-v-eaf361ea] {
  cursor: pointer;
}
.task-header[data-v-eaf361ea] {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  display: flex;
}
.task-code[data-v-eaf361ea] {
  font-weight: 600;
}
.task-body p[data-v-eaf361ea] {
  color: #606266;
  margin: 4px 0;
  font-size: 13px;
}
.task-footer[data-v-eaf361ea] {
  text-align: right;
  margin-top: 12px;
}
