.card-title[data-v-b33293dc] {
  color: #909399;
  font-size: 13px;
}
.card-value[data-v-b33293dc] {
  margin: 8px 0;
  font-size: 28px;
  font-weight: 700;
}
.card-unit[data-v-b33293dc] {
  color: #909399;
  margin-left: 4px;
  font-size: 14px;
}
