.card-title[data-v-417a338e] {
  color: #909399;
  font-size: 13px;
}
.card-value[data-v-417a338e] {
  margin-top: 8px;
  font-size: 28px;
  font-weight: 700;
}
.card-unit[data-v-417a338e] {
  color: #909399;
  margin-left: 4px;
  font-size: 14px;
}
.card-trend[data-v-417a338e] {
  margin-top: 8px;
  font-size: 12px;
}
[data-v-417a338e] .gi-page-layout__tool {
  gap: 8px;
}
