.lines-header[data-v-76828d5a] {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.lines-title[data-v-76828d5a] {
  font-weight: 600;
}
[data-v-f29cbe08] .gi-page-layout__tool {
  gap: 8px;
}
